<link rel="stylesheet" href="/css/home.css">
<div class="home_container">
    <div class="home buttons">
      <a href="/users/sign-out">
      <button class="logout-btn" type="submit">Logout</button>
    </a>
    <a href="/users/reset-form">
      <button class="reset-btn">Reset Password</button>

    </a>
 

    
    </div>
  </div>