<link rel="stylesheet" href="/css/reset_pass.css">
<div class="reset-container">
    <h2>Reset Password</h2>
    <form action="/users/reset-password/<%= user.id %>" method="post">

        <input type="password" name="password" placeholder="New Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" value="Submit">
    </form>
</div>