body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .signin_container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .signin-heading {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-group {
    margin: 10px 0;
  }
  
  label {
    display: block;
    font-size: 16px;
    color: #333;
  }
  
  input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    max-width: 100%;
  }
  
  .submit-btn {
    background-color: #4caf50;
    color: white;
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  .google-login {
    margin-top: 20px;
  }
  
  .google-btn {
    background-color: #db4437;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .google-btn:hover {
    background-color: #c53929;
  }
  

  